doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0")
    meta(name="google-signin-scope",content="profile email")
    link(href='bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(rel="manifest",href="manifest.json")
    link(href='main.css', rel='stylesheet')
    script(src="https://apis.google.com/js/platform.js",async,defer)

    title games
  body
    #container
    script(src="https://apis.google.com/js/platform.js")
    script(src="tgames.min.js")
